<div class="header" ui-view="header">
  <ul class="nav nav-pills pull-right">
    <li ui-sref-active="active"><a ui-sref="home()">Home</a></li>
    <li ui-sref-active="active"><a ui-sref="about()">About</a></li>
    <li ui-sref-active="active"><a ui-sref="live()">Live</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">app</h3>
  <em>{{ counter.count }} clicks</em>
</div>

<div ui-view="content"></div>

<div class="footer" ui-view="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
