<h1>User <strong>{{ user.login }}</strong></h1>

<p ng-show="isError">Error!</p>

<p ng-show="isLoading">Loading...</p>

<div ng-hide="isLoading">
    <img class="placeholder pull-right" ng-src="{{ user.avatar_url | ghsize: 100 }}" />

    <gh-panel-container>
        <gh-panel
            ng-repeat="repository in repositories | orderBy:'-stargazers_count'"
            title="repository.name"
            href-state="repository_show"
            href-state-params="{username: user.login, repository: repository.name}">
            <gh-repository repository="repository"></gh-repository>
        </gh-panel>
    </gh-panel-container>
</div>


